.attachedFilePreview {
    cursor: pointer;
    width: 92px !important;
    height: 92px !important;
    max-width: none !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.imagePreview {
    width: 400px !important;
    height: 400px !important;
    max-width: none !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}