.ImageUpload {
    cursor: pointer;
    width: 128px;
    height: 128px;
    border-radius: 18px;
    background: var(--input-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 200ms;
    flex: 1 0 auto;
    overflow: hidden;

    &:hover {
        background: var(--input-hover-bg);
    }
}

.imgWrapper {
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 24px;
}

.hovered {
    background: #464646;
}

.isLoading {
    cursor: auto;
    opacity: .4;
}