.AvatarDropdown {
    cursor: pointer;
}

.avatarImage {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    flex: 1 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}