.overlay {
    cursor: pointer;
    background: rgba( 0 0 0 / 40%);
    transition: 100ms;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    z-index: -1;
}

.overlayBody {
    cursor: auto;
    position: relative;
}

.activeOverlay {
    transition: 100ms;
    opacity: 1;
    z-index: 40;
}

.panel {
    width: 600px !important;
    padding: 10px;
    border: 2px solid var(--btn-bg-color);
    border-radius: 12px;
    transition: 200ms;
    backdrop-filter: blur(8px);
    min-height: 200px;
    max-height: 500px;
    opacity: 0;
    position: absolute;
    top: calc(var(--navbar-heigth) - 15px);
    right: 100px;
    z-index: -1;
    transform: translateY(-10%);
}

.active {
    width: fit-content;
    transform: translateY(0);
    opacity: 1;
    z-index: 40;
}