.TeamCard {
    cursor: pointer;
    transition: 200ms;

    &:hover {
        opacity: 0.7 !important;
        transform: scale(1.01) !important;
    }
}

.membersCountWrapper {
    flex: 1 0 auto;
}

.compactTeamImg {
    border-radius: 24px;
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1 0 auto;
}

.teamCardImg {
    border-radius: 24px;
    flex: 1 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.grid {
    width: 100%;
}

.flex {
    width: 100%;
}