.idea
client/node_modules
client-files
server/bin

server/static/reports/*.docx
server/static/certificates
server/static/reports
server/static/user-avatars
server/static/team-images
server/static/bugs
server/static/events
server/static/attachments