.teamImageWrapper {
    width: 100px;
    height: 100px;
    max-width: none !important;
    flex: 1 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
