.DetailedMemberPage {
    overflow-y: auto;
}

.blurredBackgroundImage {
    width: 400px;
    height: 400px;
    max-width: none !important;
    flex: 1 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
