.attachedFilePreview {
    width: 40px !important;
    height: 40px !important;
    max-width: none !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}