.ChatWindow {
    height: 70vh;
    border-radius: 18px;
    background: #444;
}

.chatHeader {
    height: 80px;
    padding: 10px 40px;
    border-radius: 18px 18px 0 0;
    background: var(--input-hover-bg);
    position: relative
}

.avatarFallback {
    border-radius: 50% !important;
    max-width: none !important;
    flex: 1 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.helloMessage {
    max-width: none !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.skeleton {
    flex: 1 0 auto
}