.EventInfoBlock {

}

.imgSkeleton {
    flex: 1 0 auto;
}

.img {
    width: 25vw;
    height: 25vw;
    border-radius: 12px;
    flex: 1 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}