.DetailedTeamPage {
    gap: 40px;
    overflow-y: auto;
    padding-top: 20px;
}

.mainImage {
    width: 100%;
    height: 192px;
    border-radius: 24px;
    background: #444;
    flex: 1 0 auto;
}