.MultiplyFilesInput {
    cursor: pointer;
    width: 100%;
    height: 100px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 200ms;
    flex: 1 0 auto;
}