:root, .dark_theme {
    --bg-color: #303030;
    --inverted-bg-color: #444;
    --input-bg:  #27272a;
    --input-hover-bg: #3f3f46;
    --card-bg: #444;
    --listbox-bg: #E6F3F4;

    // текст
    --text-main: white;
    --primary-color: #f90;
    --accent: #f90;
    --second-text-color: #828282;
    --input-text-color: #383838;

    // цвета
    --btn-bg-color: #f90
}
