.vka_theme {
	--bg-color: linear-gradient(135deg, #fff9e7 0%, #c7d5e3 50%);
	--inverted-bg-color: #0A2C5C;
	--input-bg: #F4F4F5;
	--gradient-start: #fff9e7;
	--gradient-end: #c7d5e3;
	--input-hover-bg: #E4E4E7;
	--card-bg: white;
	--listbox-bg: #E6F3F4;

	// текст
	--text-main: gray;
	--primary-color: #0A2C5C;
	--accent: #0A2C5C;

	// цвета
	--btn-bg-color: white
}
