.Navbar {
    width: 100%;
    height: var(--navbar-heigth);
    margin: 0;
    padding: 0 40px;
    background: transparent;
    background: var(--inverted-bg-color);
    transition: 1000ms;
}

.ScrolledNavbar {
    width: 85%;
    margin: 0 auto;
    border-radius: 8px;
    background: var(--inverted-bg-color);
    box-shadow: 0 2px 40px rgb(90 90 90 / 52%);
}

.logo {
    height: 64px;
    border-radius: 24px;
    max-width: 256px !important;
    flex: 1 0 auto;
}