.MessageWrapper {
    max-width: 60%;
    position: relative;
}

.Message {
    width: 100%;
    padding: 10px;
    border-radius: 12px;
    background: var(--input-bg);
    flex-grow: 1;
    text-align: left;
}

.avatarWrapper {
    width: 40px;
    height: 40px;
    border-radius: 50% !important;
    position: sticky !important;
    bottom: 0;
    max-width: none !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}